footer{
    @include flex (row, space-between, center);
    background-color: map-get($colores, fondoPrincipal);
    padding: 20px;
    height: 69px;
    border: 1px solid black;
    a{
        text-decoration: none;
        color: map-get($colores, letraPrincipal);
        font-size: map-get($letras, 7);
        padding: 0px 20px;
        align-self: center;
        &:hover{
            transform: scale(1.2);
        }
    }
    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 15px;
        li{
            text-decoration: none;
            a{
                color: map-get($colores, letraPrincipal);
                font-size: map-get($letras,4);
            }
            &:hover{
                transform: scale(1.3);
            }
        }
        }
}