.trayectoria{
    /* background: radial-gradient(#b7c9f2,#5c89f1); */
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 70px repeat(3, 390px) 490px 430px 565px 360px;
    grid-template-areas:
    "titulo titulo"
    "div1 div2"
    "div3 div4"
    "div5 div6"
    "div7 div8"
    "div9 div10"
    "div11 div12"
    "div13 div14";
    row-gap: 2.25rem;
    padding: 1.25rem;
    gap: 1.25rem;
    position: relative;
    &::after{ /*imagen de fondo*/
        content: " ";
        background-image: url(../assets/manu-fondo2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    h1{
        @include self;
        background-color: map-get($colores, fondoTexto);
        font-size: map-get($letras,7);
        font-weight: bold;
        grid-column: 1/3;
        grid-row: 1/2;
        grid-area: titulo;
        padding: 20px;
        border: $border;
        border-radius: 20px;
    }
    div{
        @include self;
    }
}
.trayectoria div:nth-child(2){ /*texto 1*/
    @include self;
    @include trayec;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-area: div2;
    width: 540px;
    height: 360px;
    padding: 90px 50px;
    border: $border;
}
.trayectoria div:nth-child(3) img{ /*img 1*/
    grid-column: 1/2;
    grid-row: 2/3;
    grid-area: div1;
    width: 540px;
    height: 360px;
    border: $border;
    border-radius: 20px;
}
.trayectoria div:nth-child(4){  /*texto 2*/
    @include self;
    @include trayec;
    grid-column: 1/2;
    grid-row: 3/4;
    grid-area: div3;
    width: 540px;
    height: 360px;
    border: $border;
    padding: 70px 50px;
}
.trayectoria div:nth-child(5) img{ /*img 2*/
    grid-column: 2/3;
    grid-row: 3/4;
    grid-area: div4;
    width: 540px;
    height: 360px;
    border: $border;
    border-radius: 20px;
}
.trayectoria div:nth-child(6){ /*texto 3*/
    @include self;
    @include trayec;
    grid-column: 2/3;
    grid-row: 4/5;
    grid-area: div6;
    width: 540px;
    height: 360px;
    border: $border;
    padding: 70px 50px;
}
.trayectoria div:nth-child(7) img{ /*img 3*/
    grid-column: 1/2;
    grid-row: 4/5;
    grid-area: div5;
    width: 540px;
    height: 360px;
    border: $border;
    border-radius: 20px;
}
.trayectoria div:nth-child(8){ /*texto 4*/
    @include self;
    @include trayec;
    grid-column: 1/2;
    grid-row: 5/6;
    grid-area: div7;
    width: 540px;
    height: 420px;
    border: $border;
    padding: 90px 50px;
}
.trayectoria div:nth-child(9) img{ /*img 4*/
    grid-column: 2/3;
    grid-row: 5/6;
    grid-area: div8;
    width: 400px;
    height: 420px;
    border: $border;
    border-radius: 20px;
}
.trayectoria div:nth-child(10){ /*texto 5*/
    @include self;
    @include trayec;
    grid-column: 2/3;
    grid-row: 6/7;
    grid-area: div10;
    width: 540px;
    height: 360px;
    border: $border;
    padding: 40px 40px;
}
.trayectoria div:nth-child(11) img{ /*img 5*/
    grid-column: 1/2;
    grid-row: 6/7;
    grid-area: div9;
    width: 540px;
    height: 360px;
    border: $border;
    border-radius: 20px;
}
.trayectoria div:nth-child(12){ /*texto 6*/
    @include self;
    @include trayec;
    grid-column: 1/2;
    grid-row: 7/8;    
    grid-area: div11;
    width: 540px;
    height: 450px;
    padding: 20px 40px;
    border: $border;
}
.trayectoria div:nth-child(13) img{ /*img 6*/
    grid-column: 2/3;
    grid-row: 7/8;
    grid-area: div12;
    width: 440px;
    height: 450px;
    border: $border;
    border-radius: 20px;
}
.trayectoria div:nth-child(14){ /*texto 7*/
    @include self;
    @include trayec;
    grid-column: 2/3;
    grid-row: 8/9;
    grid-area: div14;
    width: 540px;
    height: 360px;
    padding: 100px 50px;
    border: $border;
}
.trayectoria div:nth-child(15) img{ /*img 7*/
    grid-column: 1/2;
    grid-row: 8/9;
    grid-area: div13;
    width: 500px;
    height: 360px;
    border: $border;
    border-radius: 20px;
}
