.contacto{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "h1 form"
    "contacto form"
    ". form";
    row-gap: 2.25rem;
    padding: 20px;
    gap: 1.25rem;
    position: relative;
    height: 100vh;
    &::after{ /*imagen de fondo*/
        content: " ";
        background-image: url(../assets/manu-fondo2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    } 
    h1{
        grid-area: h1;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: map-get($letras, 8);
        font-weight: bold;
        justify-self: center;
        align-self: flex-end;
    }  
    p{
        grid-area: parrafo;
        grid-column: 1/2;
        grid-row: 2/3;
        @include self;
        font-size: map-get($letras, 6);
        text-align: center;
    }
    input{
        background-color: map-get($colores, fondoPrincipal);
        border-radius: 10px;
        border: $border;
        &::placeholder{
            color: black;
            text-align: center;
        }
    }
    label{
        font-size: map-get($letras, 4);
    }
    .form{
        grid-area: form;
        grid-column: 2/3;
        grid-row: 1/4;
        @include self;
    }
    .form div:nth-child(2) input{
        display: flex;
        flex-direction: column;
        font-size: map-get($letras, 1);
        width: 400px;
        height: 40px;
    }
    .form div:nth-child(3) input{
        display: flex;
        flex-direction: column;
        font-size: map-get($letras, 1);
        width: 400px;
        height: 40px;
    }
    .form div:nth-child(4) input{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 140px;
        font-size: map-get($letras, 1);
        &::placeholder{
            text-align: center;
        }
    }
    .form div:nth-child(5) button{
        width: 100px;
        height: 40px;
        font-size: map-get($letras, 3);
        color: black;
        background-color: #b7c9f2;
        border-radius: 20px;
        border: $border;
        &:active{
            background-color: rgba(0, 0, 0, 0.521);
            color: white;
        }
    }
    .form div{
        padding: 20px;
    }
}