.container-fluid{
    position: relative;
    height: 100vh;
    &::after{
        content: " ";
        background-image: url(../assets/Captura.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        opacity: .5;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
.mainIndex{
    section{
        div{
            h1{
                font-size: map-get($letras, 9);
            }
            h2{
                font-size: map-get($letras, 8);
            }
        }
    }
}
