.biografia{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 70px 90%;
    padding: 20px;
    gap: .625rem;
    position: relative;
    &::after{ /*imagen de fondo*/
        content: " ";
        background-image: url(../assets/fondocontacto.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        opacity: .5;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    h1{
        font-size: map-get($letras, 7);
        font-weight: bold;
        grid-column: 1/3;
        grid-row: 1/2;
        @include self;
        padding: 20px;
        &::after{
            content:" ";
            position: absolute;
            width: 350px;
            height: 2px;
            background-color: black;
            border-radius: 20px;
            right: 80px;
            top: 55px;
        }
        &::before{
            content:" ";
            position: absolute;
            width: 350px;
            height: 2px;
            background-color: black;
            top: 55px;
            border-radius: 20px;
            left: 100px;
        }
    }
    div{
        @include self;
    }
    p{
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 40px;
        width: 500px;
        height: 700px;
        border: $border;
        border-radius: 20px;
        text-align: justify;
        font-size: map-get($letras, 4);
        background-color: map-get($colores, fondoTexto);
    }
    img{
        grid-column: 2/3;
        grid-row: 2/3;
        width: 500px;
        height: 700px;
        border-radius: 20px;
        border: $border;
    }
}