$colores: (
    fondoPrincipal: #b7c9f2,
    letraPrincipal: black,
    fondoTexto: rgba(0, 0, 0, 0.274),
);
$letras: (
    1: 16px,
    2: 18px,
    3: 20px,
    4: 22px,
    5: 24px,
    6: 26px,
    7: 30px,
    8: 40px,
    9: 50px,
);