@mixin flex ($direction, $justify, $align,){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin self{
    justify-self: center;
    align-self: center;
}
@mixin content{
    justify-content: center;
    align-content: center;
}