@media (min-width:200px) and (max-width:767px){
    /*----------header*/
    header{
        a{
            font-size: map-get($letras, 3);
            padding: 5px;
        }
        ul{
            @include flex (column, none, center);
            height: 40vh;
            padding: 50px;
        }
        nav{
            display: none;
            position: absolute;
            background-color: map-get($colores, fondoPrincipal);
            height: 400px;
            width: 100vw;
            justify-content: center;
            top: 60px;
            padding: 0;
            margin: 0;
            left: 0;
            bottom:0;
            z-index: 10;
        }
    }
    .inputCheck{
        display: none;
    }
    .menu-label{
        font-size: 20px;
        position: absolute;
        right: 10px;
        display: flex;
        align-items: center;
        top: 15px;
    }

    .inputCheck:checked ~ nav{
        display: flex;
    }

    /*----------footer*/
    footer{
        height: 40px;
        justify-content: center;
        ul{
            display: none;
        }
    }
    footer a{
        font-size: map-get($letras, 3);
        left: 150px;
    }
    /*main index*/
    .mainIndex{
        section{
            div{
                h1{
                    font-size: map-get($letras, 8);
                }
                h2{
                    font-size: map-get($letras, 7);
                }
            }
        }
    }
    .container-fluid::after{
        content: " ";
        background-image: url(../assets/campeonspurs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
        opacity: .3;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
    }
/*main de biografia*/
    .biografia{
        @include flex (column, none,none);
        padding: 10px;
        gap: 0rem;
        &::after{ /*imagen de fondo*/
            content: " ";
            background-image: url(../assets/imagenbiografia.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
            opacity: .4;
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        h1{
            font-size: map-get($letras, 3);
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
        }
        img{
            display: none;
        }
        div p{
            @include content;
        }
        p{
            height: 100vh;
            width: 100vw;
            font-size: map-get($letras, 1);
            padding: 20px;
        }
    }
/*main de trayectoria*/
.trayectoria{
    display: flex;
    flex-direction: column;
    padding: 5px;
    h1{
        font-size: map-get($letras, 3);
        border: none;
        text-align: center;
    }
    div:nth-child(2){ /*texto 1*/
        width: 95vw;
        height: 200px;
        font-size: map-get($letras, 2);
        padding: 30px;
        border: none;
    }
    div:nth-child(3) img{ /*img 1*/
        width: 95vw;
        height: 300px;
        border: none;
    }
    div:nth-child(4){ /*texto 2*/
        width: 95vw;
        height: 220px;
        font-size: map-get($letras, 2);
        padding: 30px;
        border: none;
    }
    div:nth-child(5) img{ /*img 2*/
        width: 95vw;
        height: 300px;
        border: none;
    }
    div:nth-child(6){ /*texto 3*/
        width: 95vw;
        height: 240px;
        font-size: map-get($letras, 2);
        padding: 30px;
        border: none;
    }
    div:nth-child(7) img{ /*img 3*/
        width: 95vw;
        height: 300px;
        border: none;
    }
    div:nth-child(8){ /*texto 4*/
        width: 95vw;
        height: 240px;
        font-size: map-get($letras, 2);
        padding: 30px;
        border: none;
    }
    div:nth-child(9) img{ /*img 4*/
        width: 95vw;
        height: 300px;
        border: none;
    }
    div:nth-child(10){ /*texto 5*/
        width: 95vw;
        height: 310px;
        font-size: map-get($letras, 2);
        padding: 30px;
        border: none;
    }
    div:nth-child(11) img{ /*img 5*/
        width: 95vw;
        height: 300px;
        border: none;
    }
    div:nth-child(12){ /*texto 6*/
        width: 95vw;
        height: 400px;
        font-size: map-get($letras, 2);
        padding: 30px;
        border: none;
    }
    div:nth-child(13) img{ /*img 6*/
        width: 95vw;
        height: 400px;
        border: none;
    }
    div:nth-child(14){ /*texto 7*/
        width: 95vw;
        height: 200px;
        font-size: map-get($letras, 2);
        padding: 30px;
        border: none;
    }
    div:nth-child(15) img{ /*img 7*/
        width: 95vw;
        height: 250px;
        border: none;
    }
}
/*MAIN DE SELECCION ARGENTINA*/
.argentina{
    display: flex;
    flex-direction: column;
    padding: 5px;
    row-gap: .9375rem;
    h1{
        font-size: map-get($letras, 4);
        border-radius: 20px;
        text-align: center;
    }
    div:nth-child(2){ /*parrafo 1*/
        width: 95vw;
        font-size: map-get($letras, 2);
        border-radius: 20px;
        padding: 20px;
    }
    div:nth-child(3) img{ /*imagen 1*/
        width: 95vw;
        height: 300px;
        border-radius: 20px;
    }
    div:nth-child(4){ /*parrafo 2*/
        width: 95vw;
        font-size: map-get($letras, 2);
        border-radius: 20px;
        padding: 20px;
    }
    div:nth-child(5) img{ /*imagen 2*/
        width: 95vw;
        height: 300px;
        border-radius: 20px;
    }
    div:nth-child(6){ /*parrafo 3*/
        width: 95vw;
        font-size: map-get($letras, 2);
        border-radius: 20px;
        padding: 20px;
    }
    div:nth-child(7) img{ /*imagen 3*/
        width: 95vw;
        height: 300px;
        border-radius: 20px;
    }
}
}